.mail {
	width: 100vw;
	height: 100vh;
	background-color: #F9F9F9;
}

.mail > div {
	display: inline-block;
	vertical-align: top;
}

.header {
	height: 55px;
	width: 100%;
	background-color: #2E304A;
	border-bottom: 1px solid rgb(79, 82, 126);
}

.header > div:nth-child(1) {
	height: 100%;
	width: 110px;
	display: inline-block;
	vertical-align: top;
}

.header > div:nth-child(1) > h1 {
	color: #AC80FF;
	font-size: 45px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	line-height: 55px;
	padding-left: 10px;
	font-family: 'Josefin Sans', sans-serif;
}

.header > div:nth-child(2) {
	height: 100%;
	width: calc(100% - 110px);
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.profile {
	height: 40px;
	transform: translateY(2.5px);
	background-color: rgb(64, 67, 102);
	border: 1px solid rgb(79, 82, 126);
	border-radius: 25px;
	max-width: 300px;
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
}

.profile > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.profile > div:nth-child(1) {
	width: calc(100% - 70px);
	text-align: left;
	padding-left: 10px;
}

.profile > div:nth-child(1) > span {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	color: rgb(147, 153, 223);
	font-size: 12px;
	font-weight: 500;
	margin-block-start: 5px;
	text-align: right;
}

.profile > div:nth-child(1) > button {
	border: none;
	background-color: transparent;
	color: #AC80FF;
	cursor: pointer;
	font-size: 12px;
	padding: 0px;
	border-bottom: 1px dotted #AC80FF;
	transition: 100ms ease-in-out;
	float: right;
	margin-block-start: -5px;
}

.profile > div:nth-child(1) > button:hover {
	opacity: 0.7;
}

.profile > div:nth-child(1) > button:focus {
	outline: none;
}

.profile > div:nth-child(2) {
	width: 60px;
}

.profile > div > img {
	width: 32px;
	border-radius: 25px;
	margin-top: 4px;
	margin-right: 10px;
}

.notifications {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 8.5px;
	margin-right: 10px;
	border: 1px solid rgb(79, 82, 126);
	display: inline-block;
	vertical-align: top;
	color: #AC80FF;
	background-color: rgb(64, 67, 102);
	cursor: pointer;
	transition: 75ms ease-in-out;
}

.notifications:focus {
	outline: none;
}

.notifications:hover {
	background-color: rgb(82, 86, 129);
}

.sidebar {
	height: calc(100% - 75px);
	width: 180px;
	background-color: rgb(56, 58, 88);
	border-right: 1px solid rgb(79, 82, 126);
	padding: 10px;
}

.sidebar > button {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	font-size: 13.5px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	background-color: #AC80FF;
	border: none;
	cursor: pointer;
	transition: 100ms ease-in-out;
}

.sidebar > button:focus {
	outline: none;
}

.sidebar > button:hover {
	opacity: 0.8;
}

.sidebar > ul {
	list-style-type: none;
	padding-left: 0px;
}

.sidebar > ul > li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.sidebar > ul > li > a {
	display: inline-block;
	width: calc(100% - 10px);
	text-align: left;
	height: 20px;
	text-decoration: none;
	transition: 100ms ease-in-out;
	padding: 5px;
	border-radius: 5px;
	color: #6F7186;
	font-size: 15px;
	transition: 100ms ease-in-out;
}

.sidebar > ul > li > a > i {
	padding-right: 10px;
	padding-left: 10px;
}

.fa-paper-plane-o {
	margin-left: -3px;
}

.fa-address-book {
	margin-left: -2.5px;
}

.sidebar > ul > li > a:hover {
	color: #fff !important;
	background-color: rgb(35, 37, 56);
}

.active-sidebar-button {
	color: #fff !important;
	background-color: rgb(35, 37, 56);
}

.mailbar {
	height: calc(100% - 55px);
	width: 300px;
	background-color: #FFFFFF;
	border-right: 1px solid #e7eaf3;
}

.content {
	height: calc(100% - 55px);
	width: calc(100% - 502px);
	background-color: #F9F9F9;
}

.display-mailbar-wide {
	width: calc(100% - 202px) !important;
}

.display-content-none {
	display: none !important;
}

@media screen and (max-width: 1060px) {
	.sidebar {
		width: 120px;
	}
	.display-mailbar-wide {
		width: calc(100% - 142px) !important;
	}
	.mailbar {
		width: 200px;
	}
	.content {
		width: calc(100% - 342px);
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		width: calc(100% - 20px);
		height: 75px;
		padding: 0 10px;
	}
	.sidebar > button {
		display: inline-block;
		width: 100px;
	}
	.sidebar > ul {
		display: inline-block;
		padding-left: 20px;
	}
	.sidebar > ul > li {
		display: inline-block;
		padding-right: 10px;
	}
	.sidebar > ul > li > a {
		padding-right: 7.5px;
	}
	.mailbar {
		height: calc(100% - 131px);
	}
	.display-mailbar-wide {
		width: 100% !important;
	}
	.content {
		width: calc(100% - 201px);
		height: calc(100% - 131px);
	}
}

@media screen and (max-width: 760px) {
	.mailbar {
		width: 100%;
		height: 196px;
	}
	.display-mailbar-wide {
		height: calc(100vh - 140px);
	}
	.content {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.profile > div:nth-child(1) {
		width: 100px;
	}
}

@media screen and (max-width: 540px) {
	.profile > div:nth-child(1) {
		padding-right: 7.5px;
	}
	.profile > div:nth-child(2) {
		display: none;
	}
	.sidebar {
		height: auto;
	}
	.sidebar > button {
		width: 100%;
		margin-top: 10px;
	}
	.sidebar > ul {
		width: 100%;
		padding-left: 0px;
	}
	.sidebar > ul > li {
		width: 100%;
	}
	.sidebar > ul > li > a {
		padding-right: 5px;
	}
}

@media screen and (max-width: 305px) {
	.header > div:nth-child(1) {
		width: 90px;
	}
	.header > div:nth-child(2) {
		width: calc(100% - 90px);
	}
	.header > div:nth-child(1) > h1 {
		font-size: 25px;
	}
	.notifications {
		margin-right: 5px;
	}
	.profile {
		margin-right: 5px;
	}
}
