@import url('https://rsms.me/inter/inter.css');

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sizer {
	display: inline-block;
}

@media screen and (min-width: 1300px) {
	.sizer {
		width: 1200px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1300px) {
	.sizer {
		width: 90vw;
	}
}

@media screen and (max-width: 600px) {
	.sizer {
		width: 95vw;
	}
}
